<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ali.stadiumreservationmanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogedIn">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.LogedIn" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".createAccount"
            android:label="@string/title_activity_create_account">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.createAccount" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Credit">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.Credit" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Reserve">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.Reserve" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Stadium"
            android:label="@string/title_activity_stadium">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.Stadium" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Profile">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.Profile" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Meal">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.Meal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Parking">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.Parking" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".seat1">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.seat1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".schedule">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.schedule" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".admin">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.admin" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateSchedule">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.UpdateSchedule" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RemoveCustomer">
            <intent-filter>
                <action android:name="ali.stadiumreservationmanagementsystem.RemoveCustomer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>